* {
  box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 98.8vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:floralwhite;
}


nav {
  letter-spacing: 4px;

  padding: 1rem;
  width: 100%;

  /* Fixar navbar */
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: floralwhite;

  box-shadow: 0 2px 5px;
  z-index: 10;


}

nav a {
    padding: 10px;
}

nav a:hover {
    /* Mudança do BG dos links no navbar*/
    background-color: red;
}
nav a:link, a:visited {
    color: black;
}
div a {
    margin-right: 1rem;
}


header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px auto 20px;
    padding: 10px;

}

header img {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    /*O nome LostTravel tem que ser escrito como texto na parte inferior direita da imagem
principal*/
    position: relative;
    bottom: 10vh;
    left: 30vw;
}
header h1::selection {
    background-color: orangered;
    color: brown;
}

footer a:hover {
    color: orangered;
}
footer a:link, a:visited {
    color: black
}

.sobre {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pacotes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pacotes div {
    width: 45%;
}

.pacotes img {
    width: 100%;
}

.contato {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    width: 75vw;
}